<p id="notice"><%= notice %></p>

<p>
  <strong>Title:</strong>
  <%= @post.title %>
</p>

<p>
  <strong>Body:</strong>
  <%= @post.body %>
</p>

<h2>Comments</h2>
<div id="comments">
  <% if @post.comments.count < 1 %>
    <p>There are no comments yet.</p>
    <p>Be the firts to!</p>
  <% else %>
    <%= render :partial => @post.comments.reverse %>
  <% end %>
</div>

<h2>Add your comment</h2>
<%= form_for([@post, Comment.new], remote: true) do |f| %>
  <div class="field">
    <%= f.label :body, "Comment text" %><br>
    <%= f.text_area :body %>
  </div>
  <div class="actions">
    <%= f.submit "Submit comment" %>
  </div>
<% end %>

<%= link_to 'Edit', edit_post_path(@post) %> |
<%= link_to 'Back', posts_path %>
